@using CatalogueNew.Web.Models;
@using Microsoft.AspNet.Identity;

@model ManageUserViewModel

@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

@if (Model.ManageMessage != null)
{
    <div class="row">
        <div class="alert alert-success alert-dismissible fade in" role="alert" style="text-align: center;">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <p class="text-success">@Model.ManageMessage</p>
        </div>
    </div>

}

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Manage", "Auth", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />

            <div class="col-md-offset-4">
                <div class="form-group">
                    <p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>
                </div>
            </div>

            <div class="col-md-offset-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <div class="editor-field">
                            @Html.RadioButtonFor(m => m.Gender, "Male", new { @id = "male" })
                            @Html.Label("Male", new { @for = "male" }) &nbsp;
                            @Html.RadioButtonFor(m => m.Gender, "Female", new { @id = "female" })
                            @Html.Label("Female", new { @for = "female" })
                            @Html.ValidationMessageFor(m => m.Gender)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <div class="form-group input-group-sm">
                            @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })
                            @Html.ValidationMessageFor(model => model.BirthDate)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change data" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker();
        });
    </script>
}