@using CatalogueNew.Web.Models;
@using Microsoft.AspNet.Identity;

@model ManageUserViewModel

@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

@if (Model.ManageMessage != null)
{
    <div class="row">
        <div class="alert alert-success alert-dismissible fade in" role="alert" style="text-align: center;">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <p class="text-success">@Model.ManageMessage</p>
        </div>
    </div>

}

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Manage", "Auth", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />

            <div class="col-md-offset-4">
                <div class="form-group">
                    <p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>
                </div>
            </div>
            @Html.HiddenFor(m => m.User.UserName)
            <div class="col-md-offset-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.User.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.User.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.User.FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.User.FirstName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.User.LastName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.User.LastName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.User.Gender, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <div id="radioBtn" class="btn-group">

                                @if (Model.User.Gender.HasValue)
                                {
                                    if (Model.User.Gender.Value == GenderType.Female)
                                    {
                                        <a class="btn btn-danger btn-sm active" name="female" id="female" data-toggle="gender" data-title="female">Female</a>
                                        <a class="btn btn-default btn-sm notActive" name="male" id="male" data-toggle="gender" data-title="male">Male</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-default btn-sm notActive" name="female" id="female" data-toggle="gender" data-title="female">Female</a>
                                        <a class="btn btn-primary btn-sm active" name="male" id="male" data-toggle="gender" data-title="male">Male</a>
                                    }
                                }
                                else
                                {
                                    <a class="btn btn-default btn-sm notActive" name="female" id="female" data-toggle="gender" data-title="female">Female</a>
                                    <a class="btn btn-default btn-sm notActive" name="male" id="male" data-toggle="gender" data-title="male">Male</a>
                                }

                            </div>
                            <input type="hidden" name="User.Gender" id="gender">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.User.BirthDate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <div class="input-group-sm">
                            @Html.TextBoxFor(model => model.User.BirthDate, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })
                            @Html.ValidationMessageFor(model => model.User.BirthDate)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/radio-buttons.js"></script>
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker();
        });
    </script>
}