@model ManufacturerListViewModel

@{
    ViewBag.Title = "Manufacturer";
}

<h2>Manufacturer</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>Manufacturers</th>
    </tr>

    @foreach (var item in @Model.Manufacturers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ManufacturerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ManufacturerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ManufacturerID })
            </td>
        </tr>
    }

</table>

<div class="row">
    <nav>
        <ul class="pagination">

            @Html.Partial("~/Views/Shared/_PagingPartial.cshtml", Model.PagingViewModel)
            </ul>
        </nav>
    </div>
