@model CategoryListViewModel

@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in @Model.Categories)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCategoryID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
            </td>
        </tr>
    }

</table>

@Html.Partial("~/Views/Shared/_PagingPartial.cshtml", new PagingViewModel(Model.Count, Model.Page, "Index"))