@model CatalogueNew.Web.Models.ProductViewModel

@{if (Model.Product.ProductID == null)
{
    ViewBag.Title = "Create product";
}
else
{
    ViewBag.Title = "Edit: " + Model.Product.Name;
}
}
<h2>@ViewBag.Title</h2>
@{ if (User.IsInRole("Manager"))
 {
    @Html.ValidationSummary(false)
     using (Html.BeginForm())
     {
        <div class="col-md-offset-4 form-horizontal">

            <div class="form-group">
                All fields marked with <span class="required">*</span> are required!
            </div>

            <div class="form-group">
                <label for="@Html.IdFor(model => model.Product.Name)">Name <span class="required">*</span></label>
                @Html.TextBoxFor(model => model.Product.Name, new { @class = "form-control", placeholder = "Enter product name", required = "required" })
            </div>

            <div class="form-group">
                <label for="@Html.IdFor(model => model.Product.CategoryID)">Category <span class="required">*</span></label>
                @Html.DropDownListFor(model => model.Product.CategoryID, Model.Categories, "Select category", new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                <label for="@Html.IdFor(model => model.Product.ManufacturerID)">Manufacturer <span class="required">*</span></label>
                @Html.DropDownListFor(model => model.Product.ManufacturerID, Model.Manufacturers, "Select manufacturer", new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                <label for="@Html.IdFor(model => model.Product.Year)">Year <span class="required">*</span></label>
                <select name="@Html.NameFor(model => model.Product.Year)" id="@Html.IdFor(model => model.Product.Year)"
                        class="form-control" required>
                    @{
         if (Model.Product.Year == null)
         {
            <option value="" disabled selected>Select year</option>
         }

         int year = DateTime.Now.Year;
         for (int i = year + 1; i > year - 21; i--)
         {
             if (i == Model.Product.Year)
             {
                <option value="@i" selected>@i</option>
             }
             else
             {
                <option value="@i">@i</option>
             }
         }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="@Html.IdFor(model => model.Product.Description)">Description <span class="required">*</span></label>
                @Html.TextAreaFor(model => model.Product.Description, new { @class = "form-control", rows = "5", required = "required", maxlenght = "1000" })
            </div>
            @{
         if (Model.Product.ProductID == null)
         {
            <input type="submit" class="btn btn-success" value="Create product" />
         }
         else
         {
            <input type="submit" class="btn btn-success" value="Save product" />
                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-default" })
         }
            }

        </div>
     }
     <div class="jumbotron">
        <form action="~/Product/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
            <div class="fallback">
                <input name="file" type="file" multiple />
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
    <style type="text/css">
        .dz-max-files-reached {
            background-color: red;
        }
    </style>
    @section scripts{
        <script type="text/javascript">
            Dropzone.autoDiscover = true;
            Dropzone.options.dropzoneForm = {
                autoProcessQueue: true,
                maxFiles: 6,
                init: function () {
                    dropzoneForm = this;
                    this.on("maxfilesexceeded", function (data) {
                        var res = eval('(' + data.xhr.responseText + ')');

                    });
                    this.on("addedfile", function (file) {

                        // Create the remove button
                        var removeButton = Dropzone.createElement("<button>Remove file</button>");

                        // Capture the Dropzone instance as closure.
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function (e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();
                            // Remove the file preview.
                            _this.removeFile(file);
                            //$.ajax({
                            //    type: "POST",
                            //    url: "RemoveImage",
                            //    contentType: "application/json; utf-8",
                            //    data: document.getElementById(file.name).value ,
                            //    dataType: "json"
                            //});
                            $.post("RemoveImage", { value: document.getElementById(file.name).value });
                            document.getElementById(file.name).remove();
                            --numberHiddens;
                            // If you want to the delete the file on the server as well,
                            // you can do the AJAX request here.
                        });
                        // You might want to show the submit button only when
                        // files are dropped here:
                        this.on("addedfile", function () {
                        });
                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                        var numberHiddens = 0;
                        this.on("success", function (file, json) {
                            var innerHtml = "<input type='hidden' name='hidden" + ++numberHiddens + "' id='" + file.name + "' value='" + json.imgPath + "," + json.imgName + "," + json.MimeType + "' />";
                            if (document.getElementById(file.name) == undefined) {
                                $(".form-horizontal").append(innerHtml);
                            }
                        });
                    });
                }
            };
        </script>
    }
 }
 else
 {
    <div class="row alert alert-danger">
        <p class="text-center">You are not authorized to create or edit products!</p>
    </div>
 }
}