@model CatalogueNew.Web.Models.ProductViewModel

@{if (Model.Product.ProductID == null)
{
    ViewBag.Title = "Create product";
}
else
{
    ViewBag.Title = "Edit: " + Model.Product.Name;
}
}

<h2>@ViewBag.Title</h2>

@{ if (User.IsInRole("Manager") || User.IsInRole("Admin"))
 {
    <form method="post" class="productForm col-md-6" style="float: none; margin: 0 auto;">

        <div class="form-horizontal">

            <div class="form-group">
                All fields marked with <span class="required">*</span> are required!
            </div>

            <div class="form-group">
                <label for="@Html.IdFor(model => model.Product.Name)">Name <span class="required">*</span></label>
                @Html.TextBoxFor(model => model.Product.Name, new { @class = "form-control", placeholder = "Enter product name", required = "required" })
                @Html.ValidationMessageFor(model => model.Product.Name)
            </div>

            <div class="form-group">
                <label for="@Html.IdFor(model => model.Product.CategoryID)">Category <span class="required">*</span></label>
                @Html.DropDownListFor(model => model.Product.CategoryID, Model.Categories, "Select category", new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Product.CategoryID)
            </div>
            <div class="form-group">
                <label for="@Html.IdFor(model => model.Product.ManufacturerID)">Manufacturer <span class="required">*</span></label>
                @Html.DropDownListFor(model => model.Product.ManufacturerID, Model.Manufacturers, "Select manufacturer", new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Product.ManufacturerID)
            </div>

            <div class="form-group">
                <label for="@Html.IdFor(model => model.Product.Year)">Year <span class="required">*</span></label>
                <select name="@Html.NameFor(model => model.Product.Year)" id="@Html.IdFor(model => model.Product.Year)"
                        class="form-control" required>

                    @{
     if (Model.Product.Year == null)
     {
        <option value="" disabled selected>Select year</option>
     }

     int year = DateTime.Now.Year;
     for (int i = year + 1; i > year - 21; i--)
     {
         if (i == Model.Product.Year)
         {
            <option value="@i" selected>@i</option>
         }
         else
         {
            <option value="@i">@i</option>
         }
     }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Product.Year)
            </div>
            <div class="form-group">
                <label for="@Html.IdFor(model => model.Product.Description)">Description <span class="required">*</span></label>
                @Html.TextAreaFor(model => model.Product.Description, new { @class = "form-control", rows = 5, required = "required", maxlenght = "1000" })
                @Html.ValidationMessageFor(model => model.Product.Description)
            </div>

            @{
     if (Model.Product.ProductID == null)
     {
        <input type="submit" class="btn btn-success" value="Create product" />
     }
     else
     {
        <div class="clearfix form-group">
            @foreach (var image in Model.Product.Images)
            {
                <div class="col-md-2 img-preview">
                    <img src="~/HttpImageHandler.ashx?id=@image.ImageID" alt="@image.ImageName" />
                </div>
            }
        </div>
                <input type="submit" class="btn btn-success" value="Save product" />
                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-default" })
     }
            }

        </div>
    </form>
    <hr />
    <div class="col-md-6">
        <form action="~/Product/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
            <div class="form-group">
                <div class="dropzone-previews"></div>
            </div>
        </form>
    </div>
 }
 else
 {
    <div class="row alert alert-danger">
        <p class="text-center">You are not authorized to create or edit products!</p>
    </div>
 }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
