@using Microsoft.AspNet.Identity;
@model ProductViewModel

@{
    var product = @Model.Product;
}

<div class="row">
    <div class="col-md-4">
        <input type="hidden" id="product-id" value="@product.ProductID" />
        <input type="hidden" id="user-id" value="@User.Identity.GetUserId()" />
        <input type="hidden" id="has-wishlist" value="@Model.Wishlist.WishlistID" />
        <h2>@product.Name</h2>

        @if (product.Images.Count == 0)
        {
            <img src="~/Images/no_pic_small.gif" />
        }
        else if (product.Images.Count == 1)
        {
            <img src="@Url.Content("~/HttpImageHandler.ashx?id=" + product.Images.FirstOrDefault().ImageID)" class="img-rounded" />
        }
        else
        {
            <img src="@Url.Content("~/HttpImageHandler.ashx?id=" + product.Images.FirstOrDefault().ImageID)" class="img-rounded" />
            <br /><br />
            <div class="row">
                @foreach (var image in product.Images.Skip(1))
                {
                    <div class="col-md-3">
                        <img src="@Url.Content("~/HttpImageHandler.ashx?id=" + image.ImageID)" class="without-first img-rounded" />
                    </div>
                }
            </div>
        }

    </div>
    <div class="col-md-8">
        <br />
        <div class="lead"><strong>Category: </strong>@product.Category.Name</div>
        <div class="lead"><strong>Year: </strong>@product.Year.Value</div>
        <div class="lead"><strong>Description: </strong>@product.Description</div>

        <div class="lead">
            <div id="stars" class="starrr"><b>Raiting: </b></div>
            @*<div id="stars-existing" class="starrr" data-rating='4'></div>*@
            <div id="rating"><b>Raiting: </b>You already gave a rating of <span id="count">0</span> star(s)</div>
        </div>

        <div class="lead"><strong>Tags: </strong></div>
        <div class="lead">
            <strong>
                Like Dislike
                @if (User.Identity.IsAuthenticated)
                {
                    <input type="button" id="add-wishlist" class="btn btn-sm btn-success" value="+ Add To Wishlist" name="wishlist">
                }
            </strong>
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="panel-body">
            <form id="form-comment">
                <textarea id="comment" class="form-control counted" name="comment" placeholder="Add comment about the product:" rows="3"></textarea>
                <h6 class="pull-right" id="counter">1000 characters remaining</h6>
                <button id="submit-comment" class="btn btn-info">Submit new comment</button>
            </form>
        </div>
    </div>
    <input type="hidden" name="is-auth" value="true" />
}
else
{
    <input type="hidden" name="is-auth" value="false" />
}

@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Moderator"))
{
    <input type="hidden" name="has-role" value="true" />
}
else
{
    <input type="hidden" name="has-role" value="false" />
}

<div id="comments" class="media">
</div>

@section Scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script>
        moment().format();
    </script>
}