@using Microsoft.AspNet.Identity;
@model ProductViewModel
@{
    var product = @Model.Product;
}
@section AddToHead{
    <link href="~/content/jquery.bxslider.css" rel="stylesheet" />
}
<div class="row details">
    <div class="col-md-4">
        <input type="hidden" id="product-id" value="@product.ProductID" />
        <input type="hidden" id="user-id" value="@User.Identity.GetUserId()" />
        <input type="hidden" id="has-wishlist" value="@Model.Wishlist.WishlistID" />

        @if (product.Images.Count == 0)
        {
            <div class="thumbnail">
                <img src="~/Images/no_pic_small.gif" />
            </div>
        }
        else if (product.Images.Count == 1)
        {
            <div class="thumbnail">
                <img src="@Url.Content("~/HttpImageHandler.ashx?id=" + product.Images.FirstOrDefault().ImageID)" />
            </div>
        }
        else
        {
            <ul class="bxslider">
                <li><img src="@Url.Content("~/HttpImageHandler.ashx?id=" + product.Images.FirstOrDefault().ImageID)" /></li>
                @foreach (var image in product.Images.Skip(1))
                {
                    <li><img src="@Url.Content("~/HttpImageHandler.ashx?id=" + image.ImageID)" /></li>
                }
            </ul>
            <div id="bx-pager">
                @{
                int i = 0;
                foreach (var image in product.Images)
                {
                    <div class="col-md-3">
                        <a data-slide-index="@i" href="">
                            <div class="img-thumbnail">
                                <img src="@Url.Content("~/HttpImageHandler.ashx?id=" + image.ImageID)" />
                            </div>
                        </a>
                    </div>
                    ++i;
                }
                }
            </div>
        }

    </div>
    <div class="col-md-8">
        <h2>@product.Name</h2>
        <div class="lead"><strong>Category: </strong>@product.Category.Name</div>
        <div class="lead"><strong>Year: </strong>@product.Year.Value</div>
        <div class="lead"><strong>Description: </strong>@product.Description</div>
        <div class="lead" id="rating-id">
            <strong>Rating: </strong>
            <input id="input-rating" class="rating" data-size="xs" data-show-clear="false" data-show-caption="false" data-step="1" />
        </div>
        <div class="lead tags">
            <strong>Tags: </strong>
            <span id="addTagSpan" class="glyphicon glyphicon-plus"></span>
            <div class="addTagDiv" style="display: none;">
                <input type="text" class="tagInput" placeholder="Enter tag name..." maxlength="50" />
                <button id="addTag" class="btn btn-sm btn-default btn-success">Add</button>
            </div>
            tagove, tagove, tagove kolkoto shtesh, tagove
        </div>
        <div class="lead">
            <a id="like" class="btn btn-sm btn-default glyphicon glyphicon-thumbs-up" href=""> Like </a>
            <a id="dislike" class="btn btn-sm btn-default glyphicon glyphicon-thumbs-down" href=""> Dislike </a>
            @if (User.Identity.IsAuthenticated)
            {
                <input type="button" id="add-wishlist" class="btn btn-sm btn-success" value="Add To Wishlist" name="wishlist">
            }
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="panel-body">
            <form id="form-comment">
                <textarea id="comment" class="form-control counted" name="comment" placeholder="Add comment about the product:" rows="3"></textarea>
                <h6 class="pull-right" id="counter">1000 characters remaining</h6>
                <button id="submit-comment" class="btn btn-sm btn-info">Submit new comment</button>
            </form>
        </div>
    </div>
    <input type="hidden" name="is-auth" value="true" />
}
else
{
    <input type="hidden" name="is-auth" value="false" />
}

@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Moderator"))
{
    <input type="hidden" name="has-role" value="true" />
}
else
{
    <input type="hidden" name="has-role" value="false" />
}

<a id="scrollUp" href="#top" title="Scroll to top" style="position: fixed; z-index: 2147483647;">Scroll to top</a>
<div id="comments" class="media container container-fluid">
</div>


@section Scripts{
    @Scripts.Render("~/bundles/product")
    @Scripts.Render("~/bundles/sliderjs")
    <script type="text/javascript">
        moment().format();

        $.scrollUp({
            scrollName: 'scrollUp', // Element ID
            topDistance: '1000', // Distance from top before showing element (px)
            topSpeed: 300, // Speed back to top (ms)
            animation: 'fade', // Fade, slide, none
            animationInSpeed: 200, // Animation in speed (ms)
            animationOutSpeed: 200, // Animation out speed (ms)
            scrollText: 'Scroll to top', // Text for element
            activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        });
    </script>
}