@using Microsoft.AspNet.Identity

@model ManageUserViewModel

@using (Html.BeginForm("Manage", "Auth", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />

    <div class="col-md-offset-4">
        <div class="form-group">
            <p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>
            @Html.ValidationSummary()
        </div>
    </div>
    
    <div class="col-md-offset-2">
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.User.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.User.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.User.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.User.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.User.Gender, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div class="editor-field">
                    @Html.RadioButtonFor(m => m.User.Gender, "Male", new { @id = "male" })
                    @Html.Label("Male", new { @for = "male" }) &nbsp;
                    @Html.RadioButtonFor(m => m.User.Gender, "Female", new { @id = "female" })
                    @Html.Label("Female", new { @for = "female" })
                    @Html.ValidationMessageFor(m => m.User.Gender)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.User.BirthDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div class="form-group input-group-sm">
                    @Html.TextBoxFor(model => model.User.BirthDate, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })
                    @Html.ValidationMessageFor(model => model.User.BirthDate)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change data" class="btn btn-success" />
            </div>
        </div>
    </div>
}