<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Catalogue</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", false)
    }
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div id="load" style="display: none;">
        <div id="load-center">
            <span class="ouro ouro3">
                <span class="left"><span class="anim"></span></span>
                <span class="right"><span class="anim"></span></span>
            </span>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Web Catalogue", "Index", "Product", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Wishlist", "Index", "Wishlist")</li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Create Product", "Create", "Product")</li>
                                <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                                <li>@Html.ActionLink("Manufacturers", "Index", "Manufacturer")</li>
                                <li>@Html.ActionLink("Users", "Users", "Admin")</li>
                                @{ if (User.IsInRole("Manager"))
                                 {
                                    <li>@Html.ActionLink("Products", "ProductAdministration", "Product")</li>
                                 }
                                }
                                <li>@Html.ActionLink("Upload image", "Index", "Image")</li>
                            </ul>
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Team Acer</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzonescripts")
    @RenderSection("scripts", required: false)
</body>
</html>