<ul class="pagination">
    @for (int i = 1; i <= @Model.Count; i++)
    {
        string path =  HttpContext.Current.Request.Url.Segments[HttpContext.Current.Request.Url.Segments.Length-1]; //Gets current path
        
        if (@Model.Page == i)
        {
            <li class="active"><a href="@Url.Action(path, new { page = i })">@i</a></li>
        }
        else
        {
            <li><a href="@Url.Action(path, new { page = i })">@i</a></li>
        }
    }
</ul>

