@model PagingViewModel

<div class="row text-center">
    <nav>
        <ul class="pagination ajax-pagination" data-devtest-target="#documentsList">

            <li><a @(Model.Page > 1 ? "" : "class=btn disabled") href="@Url.Action(Model.Path, new { name = Model.TagName, page = 1 })">First</a></li>
            <li><a @(Model.Page > 1 ? "" : "class=btn disabled") href="@Url.Action(Model.Path, new { name = Model.TagName, page = Model.Page - 1 })">Previous</a></li>

            @for (int i = Model.FirstPage; i <= (Model.FirstPage + Model.PagesDisplayed); i++)
            {
                if (Model.Page == i)
                {
                    <li class="active"><a href="@Url.Action(Model.Path, new {name = Model.TagName, page = i })">@i</a></li>
                }
                else
                {
                    <li><a href="@Url.Action(Model.Path, new {name = Model.TagName, page = i })">@i</a></li>
                }
            }

            <li><a @(Model.Page < Model.Count ? "" : "class=btn disabled") href="@Url.Action(Model.Path, new {name = Model.TagName, page = Model.Page + 1})">Next</a></li>
            <li><a @(Model.Page < Model.Count ? "" : "class=btn disabled") href="@Url.Action(Model.Path, new {name = Model.TagName, page = Model.Count})">Last</a></li>

        </ul>
        <h6 class="text-muted">Showing @Model.Page of @Model.Count</h6>
    </nav>
</div>