@model ProductListViewModel
<div id="documentsList">
    @for (int i = 0; i <= @Model.Rows; i++)
    {
        <div class="row">
            @for (int j = 0; j < 3; j++)
            {
                var currentProduct = 3 * i + j;

                if (currentProduct == Model.Products.Count)
                {
                    break;
                }

                var product = @Model.Products[currentProduct];

                <div class="col-md-4 product" id="@product.CategoryID">

                    @if (product.Images.Count > 0)
                    {
                        if (@ViewContext.RouteData.Values.Values.ElementAt(0).Equals("Wishlist"))
                        {
                            <button id="remove-wishlist" class="wish btn btn-danger" value="@product.ProductID">X</button>
                        }
                        <a href="~/Product/Details?id=@product.ProductID">
                            <div class="thumbnail">
                                <img style="height: 100%; width: auto;" src="@Url.Content("~/HttpImageHandler.ashx?id=" + product.Images.FirstOrDefault().ImageID)" />
                                <p class="caption">@product.Name</p>
                            </div>
                        </a>
                    }
                    else
                    {
                        if (@ViewContext.RouteData.Values.Values.ElementAt(0).Equals("Wishlist"))
                        {
                            <button id="remove-wishlist" class="wish btn btn-danger" value="@product.ProductID">X</button>
                        }
                        <a href="~/Product/Details?id=@product.ProductID">
                            <img src="~/Images/no_pic_small.gif" />
                            <p class="caption">@product.Name</p>
                        </a>
                    }
                </div>
            }
        </div>
    }
    @Html.Partial("_PagingAjaxPartial", Model.PagingViewModel)
</div>